*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: yellow;
}

.container-bar {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: rgb(212, 211, 211);
}

#indicator {
    height: 20px;
    width: 0%; 
    /* zero percent means here that color will not take any effect on the indicator bar */ 
    background: red;
}

.textcontainer{
    padding: 50px 20px;
    width: 80%;
    margin: auto;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(89, 218, 235);
    box-shadow: 3px 3px 8px #000;
}